.ft-switch.is-checked .el-switch__core {
  background-color: #642cff !important;
  border-color: #642cff !important;
  background-image: linear-gradient(180deg, #8b58e7 0%, #642cff 100%);
}
.ft-switch .el-switch__core {
  height: 16px !important;
  background-color: #0f1014 !important;
  color: #859094 !important;
  border-color: #282e3a !important;
}

.ft-switch .el-switch__label * {
  width: fit-content !important;
  font-size: 12px;
  font-family: Source Han Sans CN-Normal, Source Han Sans CN;
  font-weight: 400;
  color: #b4b7c1 !important;
  line-height: 20px;
}
