.api-preview-list {
  margin-top: 18px;
  :deep(.el-tabs__item) {
    --el-text-color-primary: #fff;
    &:hover {
      color: #fff;
    }
    &.is-active {
      color: var(--sw-theme-color);
    }
  }
  :deep(.el-tabs__active-bar) {
    background-color: var(--sw-theme-color);
  }
  :deep(.el-tabs) {
    .el-tabs__nav-wrap {
      &::after {
        background-color: #363636;
      }
    }
  }
}
